<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="keyword"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button (click)="onSearch()">Search</ion-button>
      <ion-button color="tertiary" (click)="reset()">Reset</ion-button>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let user of users">
        {{user['name']}} | {{user['email']}}
        <ion-button color="danger" slot="end" (click)="onDelete(user['id'])">
          Delete
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-button class="primary" (click)="getData()">Refresh</ion-button>
  </div>
</ion-content>